.quiz{
    max-width: 890px;
    min-width: 600px;
}

.info-quiz{
    max-width: 440px;
    max-height: 380px;
    
}

.info-contacto{
    max-width: 360px;
}

.formulario-contacto{
    margin-top: 50px;
}